<main>
  <div class="banner">
    <h1>Search Results</h1>
  </div>
  <div class="content">
    <% books.forEach( book => { %>
      <img src="<%=book.image%>" alt="<%=book.title%>" />
      <h3>"<%=book.title%>"</h3>
      <h4>"<%=book.author%>"</h4>
      <p>"<%=book.description%>"</p>
      <form action='/details' method="post">
        <input type=hidden name="image" value="<%=book.image%>" />
        <input type=hidden name="title" value="<%=book.title%>" />
        <input type=hidden name="author" value="<%=book.author%>" />
        <input type=hidden name="description" value="<%=book.description%>" />
        <input type=hidden name="isbn" value="<%=book.isbn%>" />
        <button type="submit">Add to my favorites</button>
      </form>
    <% }) %>
  </div>
</main> 