<!DOCTYPE html>
<html lang=“en”>
  <head>
    <title>Book Collection</title>
    <link href="../styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/base.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/icons.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/layout.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/modules.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="one">
          <h1>Best Books!</h1>
        </div>
        <div class="two">
          <h1>Search Results</h1>
        </div>
        <div class="three">
          <% books.forEach( book => { %>
            <img src="<%=book.image%>" alt="<%=book.title%>" />
            <h3>"<%=book.title%>"</h3>
            <h4>"<%=book.authors%>"</h4>
            <p>"<%=book.description%>"</p>
          <% }) %>
         
        </div>
        <div class="four">
          <div class="footer"></div>
          <div class="footer"></div>
          <div class="footer"></div>
          <div class="footer"></div>
        </div>
      </div>
    </main>
  </body>
</html>