<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <div class="container">
      <div class="one">
        <h1>Best Books!</h1>
      </div>
      <div class="two">
        <h1>Book Favorites</h1>
      </div>
      <div class="three">
        <a href="/add">search for a book</a>
        <h2>You have <%=books.length%> books saved.</h2>
          <% books.forEach(book => { %>
            <div id="render">
              <img src="<%= book.image%>" alt="picture of book" />
              <span><%= book.title%></span>
              <span><%= book.author %></span>
              <span><%= book.description%></span>
              <a href="/books/<%= book.id %>">show details</a>
            </div>
          <% }) %>
        </div>
        <div class="four">
          <div class="footer"></div>
          <div class="footer"></div>
          <div class="footer"></div>
          <div class="footer"></div>
        </div>
      </div>
  </body>
</html>