<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Best Books</title>
    <link href="styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="styles/base.css" type="text/css" rel="stylesheet"/>
    <link href="styles/icons.css" type="text/css" rel="stylesheet"/>
    <link href="styles/layout.css" type="text/css" rel="stylesheet"/>
    <link href="styles/modules.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <div class="one">
        <h1>Best Books!</h1>
      </div>
      <div class="two">
        <h1>Book Favorites</h1>
      </div>
        <div class="three">
          <h2>You have <%=books.length%> books saved.</h2>
          <% books.forEach(book => { %>
            <div>
              <span><%= book.image_url%></span>
              <span><%= book.title%></span>
              <span><%= book.author %></span>
              <span><%= book.description%></span>
              <a href="/books/<%= book.id %>">show details</a>
            </div>
          <% }) %>
        </div>
        <div class="four">
          <div class="footer"></div>
          <div class="footer"></div>
          <div class="footer"></div>
          <div class="footer"></div>
        </div>
      </div>
  </body>
</html>